# Ignore les fichiers temporaires
__pycache__/
*.pyc
*.pyo

# Ignore les environnements virtuels
venv/
.env
pyvenv.cfg

# Ignore les credentials sensibles
config/gcp_credentials.json

# Ignore les fichiers spécifiques à VSCode ou IDE
.vscode/
.idea/