apache-airflow==2.10.5
apache-airflow-providers-common-compat==1.5.0
apache-airflow-providers-common-io==1.5.0
apache-airflow-providers-common-sql==1.23.0
apache-airflow-providers-fab==1.5.3
apache-airflow-providers-ftp==3.12.2
apache-airflow-providers-http==5.2.0
apache-airflow-providers-imap==3.8.2
apache-airflow-providers-smtp==2.0.0
apache-airflow-providers-sqlite==4.0.0

matplotlib==3.10.1

numpy==2.2.3
pandas==2.2.3
pendulum==3.0.0

pydeck==0.9.1
PyYAML==6.0.2

requests==2.32.3
seaborn==0.13.2
SQLAlchemy==1.4.54
streamlit==1.42.2
db-dtypes==1.4.1
GitPython==3.1.44

google-api-core==2.24.1
google-auth==2.38.0
google-cloud-bigquery==3.30.0
google-cloud-bigquery-storage==2.28.0
google-cloud-core==2.4.2
google-cloud-storage==3.1.0